<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NY Pucksters</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% if (user) { %>
        <%- include('./partials/nav.ejs') %>
    <% } else { %>
        <p class="toContinue">Please sign-in or sign-up to view team roster and schedule!</p>
        <%- include('./partials/authNav.ejs') %>
    <% } %>
    <h2 id="homeHeader">Welcome to the Official Site of the New York Pucksters</h2>
</body>
</html>