<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NY Pucksters</title>
</head>
<%- include('./partials/nav.ejs') %>
<a href="/auth/sign-up">Sign Up!</a>
<body>
    <h1>New York Pucksters</h1>
</body>
</html>