<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Roster</title>
</head>
<%- include('./partials/nav.ejs') %>
<body>
    <h1 id="rosterHeader">New York Pucksters H.C. Current Roster</h1>
    <ul class="player-list">
    <% fullRoster.forEach(player => { %>
     <li class="player"><a href="/roster/<%= player._id %>" ><%= player.name %></a></li>
    <% }) %>
    </ul>
    <a href="/roster/newPlayer" id="addPlayer">Add New Player</a>
</body>
</html>