<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<%- include('./partials/nav.ejs') %>
<body>
    <h1 id="scheduleHeader">New York Pucksters H.C. Upcoming Games</h1>
    <div id="scheduleBox">
        <div id="schedule">
            <div class="game home">
                <p><strong>Date:</strong> October 5, 2024</p>
                <p><strong>Time:</strong> 7:00 PM</p>
                <p><strong>Opponent:</strong> Boston Brawlers</p>
                <p><strong>Location:</strong> Home</p>
            </div>
            <div class="game away">
                <p><strong>Date:</strong> October 12, 2024</p>
                <p><strong>Time:</strong> 7:00 PM</p>
                <p><strong>Opponent:</strong> Chicago Skaters</p>
                <p><strong>Location:</strong> Away</p>
            </div>
            <div class="game home">
                <p><strong>Date:</strong> October 19, 2024</p>
                <p><strong>Time:</strong> 6:00 PM</p>
                <p><strong>Opponent:</strong> Miami Ice</p>
                <p><strong>Location:</strong> Home</p>
            </div>
            <div class="game away">
                <p><strong>Date:</strong> October 25, 2024</p>
                <p><strong>Time:</strong> 8:00 PM</p>
                <p><strong>Opponent:</strong> Detroit Sticks</p>
                <p><strong>Location:</strong> Away</p>
            </div>
            <div class="game home">
                <p><strong>Date:</strong> November 1, 2024</p>
                <p><strong>Time:</strong> 7:00 PM</p>
                <p><strong>Opponent:</strong> Los Angeles Kingsmen</p>
                <p><strong>Location:</strong> Home</p>
            </div>
            <div class="game away">
                <p><strong>Date:</strong> November 8, 2024</p>
                <p><strong>Time:</strong> 9:00 PM</p>
                <p><strong>Opponent:</strong> San Francisco Frost</p>
                <p><strong>Location:</strong> Away</p>
            </div>
            <div class="game home">
                <p><strong>Date:</strong> November 15, 2024</p>
                <p><strong>Time:</strong> 7:00 PM</p>
                <p><strong>Opponent:</strong> Seattle Chill</p>
                <p><strong>Location:</strong> Home</p>
            </div>
            <div class="game away">
                <p><strong>Date:</strong> November 22, 2024</p>
                <p><strong>Time:</strong> 7:00 PM</p>
                <p><strong>Opponent:</strong> Vegas Golds</p>
                <p><strong>Location:</strong> Away</p>
            </div>
            <div class="game home">
                <p><strong>Date:</strong> November 29, 2024</p>
                <p><strong>Time:</strong> 6:00 PM</p>
                <p><strong>Opponent:</strong> Texas Rangers</p>
                <p><strong>Location:</strong> Home</p>
            </div>
            <div class="game away">
                <p><strong>Date:</strong> December 6, 2024</p>
                <p><strong>Time:</strong> 7:00 PM</p>
                <p><strong>Opponent:</strong> Philadelphia Flyers</p>
                <p><strong>Location:</strong> Away</p>
            </div>
            <div class="game home">
                <p><strong>Date:</strong> December 13, 2024</p>
                <p><strong>Time:</strong> 8:00 PM</p>
                <p><strong>Opponent:</strong> Pittsburgh Pucks</p>
                <p><strong>Location:</strong> Home</p>
            </div>
            <div class="game away">
                <p><strong>Date:</strong> December 20, 2024</p>
                <p><strong>Time:</strong> 5:00 PM</p>
                <p><strong>Opponent:</strong> Orlando Waves</p>
                <p><strong>Location:</strong> Away</p>
            </div>
            <div class="game home">
                <p><strong>Date:</strong> December 27, 2024</p>
                <p><strong>Time:</strong> 7:00 PM</p>
                <p><strong>Opponent:</strong> Atlanta Aces</p>
                <p><strong>Location:</strong> Home</p>
            </div>
            <div class="game away">
                <p><strong>Date:</strong> January 3, 2025</p>
                <p><strong>Time:</strong> 9:00 PM</p>
                <p><strong>Opponent:</strong> Denver Highs</p>
                <p><strong>Location:</strong> Away</p>
            </div>
            <div class="game home">
                <p><strong>Date:</strong> January 10, 2025</p>
                <p><strong>Time:</strong> 6:00 PM</p>
                <p><strong>Opponent:</strong> Nashville Stars</p>
                <p><strong>Location:</strong> Home</p>
            </div>
        </div>
    </div>
</body>
</html>