<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<%- include('./partials/nav.ejs') %>
<body>
    <h1>New York Pucksters H.C.</h1>
    <h4>Game Schedule</h4>
    <div id="schedule">
        <div class="game home">
            <strong>Date:</strong> October 5, 2024, <strong>Time:</strong> 7:00 PM<br>
            <strong>Opponent:</strong> Boston Brawlers<br>
            <strong>Location:</strong> Home
        </div>
        <div class="game away">
            <strong>Date:</strong> October 12, 2024, <strong>Time:</strong> 7:00 PM<br>
            <strong>Opponent:</strong> Chicago Skaters<br>
            <strong>Location:</strong> Away
        </div>
        <div class="game home">
            <strong>Date:</strong> October 19, 2024, <strong>Time:</strong> 6:00 PM<br>
            <strong>Opponent:</strong> Miami Ice<br>
            <strong>Location:</strong> Home
        </div>
        <div class="game away">
            <strong>Date:</strong> October 25, 2024, <strong>Time:</strong> 8:00 PM<br>
            <strong>Opponent:</strong> Detroit Sticks<br>
            <strong>Location:</strong> Away
        </div>
        <div class="game home">
            <strong>Date:</strong> November 1, 2024, <strong>Time:</strong> 7:00 PM<br>
            <strong>Opponent:</strong> Los Angeles Kingsmen<br>
            <strong>Location:</strong> Home
        </div>
        <div class="game away">
            <strong>Date:</strong> November 8, 2024, <strong>Time:</strong> 9:00 PM<br>
            <strong>Opponent:</strong> San Francisco Frost<br>
            <strong>Location:</strong> Away
        </div>
        <div class="game home">
            <strong>Date:</strong> November 15, 2024, <strong>Time:</strong> 7:00 PM<br>
            <strong>Opponent:</strong> Seattle Chill<br>
            <strong>Location:</strong> Home
        </div>
        <div class="game away">
            <strong>Date:</strong> November 22, 2024, <strong>Time:</strong> 7:00 PM<br>
            <strong>Opponent:</strong> Vegas Golds<br>
            <strong>Location:</strong> Away
        </div>
        <div class="game home">
            <strong>Date:</strong> November 29, 2024, <strong>Time:</strong> 6:00 PM<br>
            <strong>Opponent:</strong> Texas Rangers<br>
            <strong>Location:</strong> Home
        </div>
        <div class="game away">
            <strong>Date:</strong> December 6, 2024, <strong>Time:</strong> 7:00 PM<br>
            <strong>Opponent:</strong> Philadelphia Flyers<br>
            <strong>Location:</strong> Away
        </div>
        <div class="game home">
            <strong>Date:</strong> December 13, 2024, <strong>Time:</strong> 8:00 PM<br>
            <strong>Opponent:</strong> Pittsburgh Pucks<br>
            <strong>Location:</strong> Home
        </div>
        <div class="game away">
            <strong>Date:</strong> December 20, 2024, <strong>Time:</strong> 5:00 PM<br>
            <strong>Opponent:</strong> Orlando Waves<br>
            <strong>Location:</strong> Away
        </div>
        <div class="game home">
            <strong>Date:</strong> December 27, 2024, <strong>Time:</strong> 7:00 PM<br>
            <strong>Opponent:</strong> Atlanta Aces<br>
            <strong>Location:</strong> Home
        </div>
        <div class="game away">
            <strong>Date:</strong> January 3, 2025, <strong>Time:</strong> 9:00 PM<br>
            <strong>Opponent:</strong> Denver Highs<br>
            <strong>Location:</strong> Away
        </div>
        <div class="game home">
            <strong>Date:</strong> January 10, 2025, <strong>Time:</strong> 6:00 PM<br>
            <strong>Opponent:</strong> Nashville Stars<br>
            <strong>Location:</strong> Home
        </div>
    </div>
</body>
</html>