<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<%- include('./partials/nav.ejs') %>
<body>
    <h1>New York Pucksters H.C.</h1>
    <h4>Game Schedule</h4>
</body>
</html>