.teko-nav {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.imgur.com/i8G525H.png");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: center top;
    background-color: rgb(1, 3, 35);
}

nav {
    display: flex;
    justify-content: left;
    gap: 10px;
}

nav > a {
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    font-family: "Teko", sans-serif;
}

.player-list {
    width: 150px;
    /* margin: 20px auto; */
    padding: 20px;
    background-color: rgb(1, 3, 35);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
}

/* Individual player entries */
.player {
    padding: 12px 18px; /* Padding inside each player box */
    margin-bottom: 10px; /* Space between player entries */
    background-color: rgb(142, 169, 195); /* Darker shade for the player box */
    border-radius: 5px; /* Rounded corners for each player box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Subtle shadow for depth */
    transition: all 0.3s ease-in-out; /* Smooth transition for interactions */
}

.player:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Enhanced shadow on hover */
}

.playerShow {
    width: 250px;
    background-color: rgba(1, 3, 35, 0.5);
    font-family: "Teko", sans-serif;
    font-size: 20px;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
}

.editButton {
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
    font-family: "Teko", sans-serif;
}

.game {
    height: 100px;
    width: 200px;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: aliceblue;
}

#signUp {
    color: aliceblue;
    text-decoration: none;
    font-size: 22px;
}

#schedule {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.75);
}